/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0;
  /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var #212121;
  margin: 0;
}

h2 {
  color: #212121;
}

body {
  color: #757575;
  background: #ffffff;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.button {
  font-family: inherit;
  cursor: pointer;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  text-align: center;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

input,
textarea {
  outline: 0;
}

.icons, .features-sections__text--about, .social-list, .social-list__link, .clients-sections__link, .social-list__footer, .button__close, .modal__checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

input,
textarea, .site-nav__link, .button-primary,
.button-submit,
.button-subscribe, .footer__link, .backdrop, .button__close, .icon-close-black, .modal__textarea {
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  -webkit-transition-property: opasity, -webkit-transition-duration, -webkit-transition-timing-function;
  transition-property: opasity, -webkit-transition-duration, -webkit-transition-timing-function;
  transition-property: opasity, transition-duration, transition-timing-function;
  transition-property: opasity, transition-duration, transition-timing-function, -webkit-transition-duration, -webkit-transition-timing-function;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--timing-function);
          transition-timing-function: var(--timing-function);
}

.social-list__icon, .socail-list__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.footer__item, .footer__link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}

.portfolio__btn {
  font-size: 16px;
  line-height: 1.6;
  font-weight: 500;
  font-family: Roboto, sans-serif;
  transition-property: color, background-color, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__overlay {
  -webkit-box-align: center;
  transition-property: opacity, transform, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--timing-function);
          transition-timing-function: var(--timing-function);
}

.card-set__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.logo {
  margin-right: 93px;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  color: #2196f3;
}

@media screen and (min-width: 767px) {
  .logo {
    margin-right: 88px;
    margin-left: 15px;
  }
}

.logo__text {
  color: #212121;
}

.header {
  border-bottom: 1px solid #ececec;
}

@media screen and (max-width: 768px) {
  .header {
    padding-top: 16px;
    padding-bottom: 16px;
    position: relative;
  }
}

@media screen and (min-width: 768px) {
  .main-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.mobile-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  .navigation {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    min-height: 40px;
  }
}

.menu-toggle {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

.menu-toggle.icon-cross {
  display: none;
}

.menu-toggle.is-open.icon-cross {
  display: block;
}

.menu-toggle .is-open .icon-menu {
  display: none;
}

.menu-container.is-open {
  display: block;
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 32px;
  background-color: #ffffff;
  pointer-events: none;
  z-index: 999;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 480px) {
  .menu-container {
    padding: 48px 40px;
  }
}

.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.mobile-menu__list {
  margin-bottom: 300px;
}

.mobile-menu__social-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2196f3;
}

@media screen and (min-width: 480px) {
  .mobile-menu__social-item {
    padding: 0 10px;
    font-size: 18px;
  }
}

.mobile-menu__social-item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mobile-menu__list .mobile-menu__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

@media (max-width: 767px) {
  .mobile-menu__list .mobile-menu__link .menu {
    display: none;
  }
}

.icon-cross {
  left: 0;
  bottom: 0;
}

.mobile-menu__link {
  color: #000000;
  text-decoration: none;
  font-style: 400;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 2%;
}

.mobile-menu__link:hover,
.mobile-menu__link:focus,
.mobile-menu__link--current {
  color: #2196f3;
}

.mobile-menu__contacts {
  margin-bottom: 64px;
}

.mobile-menu__contacts {
  display: inline-block;
  text-decoration: none;
  font-weight: 500;
  line-height: 1.18;
  color: #2196f3;
  letter-spacing: 0.02em;
  margin-bottom: 64px;
}

.mobile-menu__tel {
  display: inline-block;
  text-decoration: none;
  font-weight: 500;
  line-height: 1.18;
  color: #2196f3;
  letter-spacing: 0.02em;
  margin-bottom: 32px;
}

@media screen and (min-width: 320px) {
  .mobile-menu__tel {
    font-size: 34px;
  }
}

.mobile-menu__mail {
  text-decoration: none;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #757575;
}

.mobile-menu__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mobile-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.site-nav__item:last-child {
  scroll-margin-left: 0px;
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  .site-nav {
    display: none;
  }
}

.site-nav__link {
  display: block;
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #212121;
  font-size: 14px;
  line-height: 1.2;
}

.site-nav__link:hover, .site-nav__link:focus, .site-nav__link--current {
  color: #2196f3;
}

.site-nav__link--current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 4px;
  display: block;
  background-color: #2196f3;
  border-radius: 2px;
}

.current.page {
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
}

.link.current {
  color: #212121;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
}

@media screen and (max-width: 767px) {
  .list-contacts {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .list-contacts {
    display: inline-block;
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .list-contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: auto;
  }
}

.list-contacts__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #757575;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
}

@media screen and (max-width: 1199px) {
  .list-contacts__link {
    font-size: 12px;
    line-height: 1.17;
    padding: 0;
  }
}

.list-contacts__link:hover,
.list-contacts__link:focus,
.list-contacts__link--link:hover,
.list-contacts__link--link:focus {
  color: #2196f3;
}

@media screen and (max-width: 1199px) {
  .list-contacts__link--link {
    margin-bottom: 10px;
  }
}

.list-contacts.item + .item {
  margin-left: 50px;
}

.list-contacts__item:last-child {
  scroll-margin-left: 0px;
}

@media screen and (min-width: 1199px) {
  .list-contacts__item:not(:last-child) {
    margin-right: 50px;
  }
}

.list-contacts__icon {
  padding: 0;
  border: none;
  margin-right: 10px;
  fill: currentColor;
}

.list-contacts__icon--envelope {
  height: 12px;
  width: 16px;
}

.list-contacts__icon--smartphone {
  height: 16px;
  width: 10px;
}

.list-contacts__icon:hover, .list-contacts__icon:focus {
  fill: #2196f3;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 480px;
  min-height: 400px;
  margin-right: auto;
  margin-left: auto;
  background-color: #2f303a;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero-mobile.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero-mobile2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-mobile2x.jpg");
  }
}

@media screen and (min-width: 481px) {
  .hero {
    max-width: 768px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 400px;
    margin-right: auto;
    margin-left: auto;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero-tablet.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-tablet.jpg");
  }
}

@media screen and (min-width: 481px) and (min-device-pixel-ratio: 2), screen and (min-width: 481px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 481px) and (min-resolution: 192dpi), screen and (min-width: 481px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero-tablet2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-tablet2x.jpg");
  }
}

@media screen and (min-width: 769px) {
  .hero {
    max-width: 1600px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero-desktop.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-desktop.jpg");
  }
}

@media screen and (min-width: 769px) and (min-device-pixel-ratio: 2), screen and (min-width: 769px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 769px) and (min-resolution: 192dpi), screen and (min-width: 769px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero-desktop2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-desktop2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    min-height: 600px;
    padding: 200px 0px;
    max-width: 1600px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}

.hero__title {
  color: #ffffff;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6;
  margin-top: 0px;
  margin-bottom: 30px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.button-primary,
.button-submit,
.button-subscribe {
  background-color: #2196f3;
  color: #ffffff;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 32px;
  border-radius: 4px;
  min-width: 200px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  border: 1px solid transparent;
}

.button-primary:hover, .button-primary:focus,
.button-submit:hover,
.button-submit:focus,
.button-subscribe:hover,
.button-subscribe:focus {
  background-color: #188ce8;
}

.advantages-sections {
  padding-top: 94px;
  padding-bottom: 94px;
}

.advantages-sections__list {
  list-style: none;
}

@media screen and (min-width: 768px) {
  .advantages-sections__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-right: -30px;
    margin-left: -30px;
  }
}

@media screen and (min-width: 1200px) {
  .advantages-sections__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-right: -30px;
    margin-left: -30px;
  }
}

@media screen and (min-width: 768px) {
  .advantages-sections__list > .advantages-sections__item {
    -ms-flex-preferred-size: calc(100% / 2 - 30px);
        flex-basis: calc(100% / 2 - 30px);
    margin-top: 30px;
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .advantages-sections__list > .advantages-sections__item {
    -ms-flex-preferred-size: calc(100% / 4 - 30px);
        flex-basis: calc(100% / 4 - 30px);
    margin-top: 30px;
    margin-left: 30px;
  }
}

.advantages-sections__title {
  color: #212121;
  font-size: 14px;
  line-height: 1.7;
  text-transform: uppercase;
  padding: 0;
  margin-bottom: 10px;
  margin-top: 0;
}

@media screen and (max-width: 768px) {
  .advantages-sections__title {
    text-align: center;
  }
}

.advantages-sections__item {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.advantages-sections__item:not(:last-child) {
  margin-bottom: 30px;
}

.advantages-sections__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  padding: 0;
  margin: 0;
  color: #757575;
}

.icons {
  width: 100%;
  height: 120px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  background: #f5f4fa;
  border-radius: 4px;
}

.icons-content {
  border-radius: 4px;
  width: 70px;
  height: 70px;
  text-align: center;
}

.features-sections {
  padding-bottom: 94px;
}

@media screen and (max-width: 1200px) {
  .features-sections {
    display: none;
  }
}

.features-sections__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 50px;
}

.features-sections__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.features-sections__box {
  position: relative;
}

.features-sections__box:not(:last-child) {
  margin-right: 30px;
}

.features-sections__text--about {
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 0;
  width: 100%;
  height: 70px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}

.team-sections {
  padding: 94px 0;
  background-color: #f5f4fa;
}

.team-sections__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 0;
}

@media screen and (min-width: 768px) {
  .team-sections__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .team-sections__list .team-sections__box:not(:last-child) {
    margin-bottom: 30px;
  }
}

.team-sections__box {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (min-width: 768px) {
  .team-sections__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
}

@media screen and (min-width: 1200px) {
  .team-sections__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
}

@media screen and (min-width: 768px) {
  .team-sections__list > .team-sections__box {
    -ms-flex-preferred-size: calc(100% / 2 - 30px);
        flex-basis: calc(100% / 2 - 30px);
    margin-top: 30px;
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team-sections__list > .team-sections__box {
    -ms-flex-preferred-size: calc(100% / 4 - 30px);
        flex-basis: calc(100% / 4 - 30px);
    margin-top: 30px;
    margin-left: 30px;
  }
}

.team-desc {
  padding: 30px 0;
  text-align: center;
}

.team-desc__item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  margin: 0;
  color: #212121;
}

.team-desc__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  padding: 0;
  margin-bottom: 16px;
  margin-top: 10px;
  color: #757575;
}

.social-list__item {
  margin-right: 10px;
}

.social-list__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link:hover, .social-list__link:focus {
  color: #ffffff;
  background-color: #2196f3;
}

.social-list__item {
  margin-right: 10px;
}

.social-list__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link:hover, .social-list__link:focus {
  color: #ffffff;
  background-color: #2196f3;
}

.social-list__icon {
  fill: currentColor;
}

.clients-sections {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-sections__title {
  text-align: center;
  margin: 0 0 50px 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.clients-sections__item {
  width: 100%;
  height: 92px;
}

@media screen and (min-width: 480px) {
  .clients-sections__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
}

@media screen and (min-width: 768px) {
  .clients-sections__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
}

@media screen and (min-width: 1200px) {
  .clients-sections__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
}

@media screen and (min-width: 480px) {
  .clients-sections__list > .clients-sections__item {
    -ms-flex-preferred-size: calc(100% / 2 - 30px);
        flex-basis: calc(100% / 2 - 30px);
    margin-top: 30px;
    margin-left: 30px;
  }
}

@media screen and (min-width: 768px) {
  .clients-sections__list > .clients-sections__item {
    -ms-flex-preferred-size: calc(100% / 3 - 30px);
        flex-basis: calc(100% / 3 - 30px);
    margin-top: 30px;
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .clients-sections__list > .clients-sections__item {
    -ms-flex-preferred-size: calc(100% / 6 - 30px);
        flex-basis: calc(100% / 6 - 30px);
    margin-top: 30px;
    margin-left: 30px;
  }
}

.clients-sections__link {
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-sections__link:hover, .clients-sections__link:focus {
  border: 1px solid #2196f3;
}

.clients-sections__link:hover .clients-sections__icon,
.clients-sections__link:focus .clients-sections__icon {
  fill: #2196f3;
}

.clients-sections__icon {
  width: 106px;
  height: 60px;
  color: currentColor;
}

.footer {
  background: #2f303a;
  padding: 60px 0;
  list-style: none;
}

@media screen and (max-width: 1199px) {
  .footer {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer > .container {
    display: -webkit-box;
  }
}

@media screen and (max-width: 767px) {
  .footer__left {
    text-align: center;
    margin-bottom: 60px;
  }
}

.footer__logo {
  color: #2196f3;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.footer__logotip {
  color: #ffffff;
}

.footer__address {
  margin-top: 20px;
  color: #ffffff;
}

.footer__item {
  margin-top: 20px;
  color: #ffffff;
}

.footer__link {
  color: rgba(255, 255, 255, 0.6);
  color: rgba(255, 255, 255, 0.6);
}

.footer__link:hover, .footer__link:focus {
  color: #2196f3;
}

.footer__info {
  margin-top: 9px;
}

.footer__info:hover, .footer__info:focus {
  color: #2196f3;
}

.footer__text {
  display: block;
  margin-bottom: 20px;
  margin-top: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (max-width: 767px) {
  .footer-social {
    text-align: center;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .footer-social {
    display: inline-block;
    margin-left: 70px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-social {
    margin-left: 70px;
  }
}

@media screen and (min-width: 768px) {
  .adress-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    padding: 0 70px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .adress-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    padding: 0 15px;
  }
}

.social-list__footer {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__footer:hover, .social-list__footer:focus {
  background-color: #2196f3;
}

@media screen and (max-width: 1199px) {
  .js-speaker-form {
    margin-top: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .js-speaker-form {
    margin-left: 93px;
  }
}

.js-speaker-form input {
  height: 50px;
  padding-left: 16px;
  margin-right: 12px;
  line-height: 20px;
  letter-spacing: 0.03em;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: #2f303a;
  color: rgba(255, 255, 255, 0.6);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

@media screen and (min-width: 480px) {
  .js-speaker-form input {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .js-speaker-form input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .js-speaker-form input {
    width: 358px;
  }
}

.js-speaker-form input:focus {
  border: 1px solid #2196f3;
}

@media screen and (max-width: 1199px) {
  .footer-email {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer-email {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.button-subscribe {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

@media screen and (max-width: 767px) {
  .button-subscribe {
    margin-top: 20px;
  }
}

@media screen and (max-width: 1199px) {
  .button-subscribe {
    margin-top: 20px;
  }
}

.button-subscribe__icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  fill: #ffffff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 10px;
  margin-top: 2px;
}

.product {
  padding: 94px 0;
}

@media screen and (min-width: 768px) {
  .product__type {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 480px) {
  .product__type {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 480px) {
  .product__type {
    margin-bottom: 40px;
  }
}

.product__type .product__item:not(:last-child) {
  margin-right: 8px;
}

@media screen and (min-width: 480px) {
  .product__item:not(:last-child) {
    margin-bottom: 15px;
  }
}

.portfolio__btn {
  padding: 6px 22px;
  border-radius: 4px;
  border: 0;
  background-color: #f5f4fa;
  color: #000000;
  margin-bottom: auto;
}

.portfolio__btn:focus, .portfolio__btn:hover, .portfolio__btn--button {
  background-color: #2196f3;
  color: #ffffff;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio {
  list-style: none;
}

@media screen and (min-width: 768px) {
  .portfolio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
}

@media screen and (min-width: 768px) {
  .portfolio > .portfolio__list {
    -ms-flex-preferred-size: calc(100% / 2 - 30px);
        flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
    margin-top: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio > .portfolio__list {
    -ms-flex-preferred-size: calc(100% / 3 - 30px);
        flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
    margin-top: 30px;
  }
}

.portfolio__link {
  display: block;
}

.portfolio__link:hover, .portfolio__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__list {
  border: 1px solid #eeeeee;
}

.portfolio__card {
  position: relative;
  overflow: hidden;
  height: 294px;
}

.portfolio__overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 294px;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  overflow-y: auto;
}

.portfolio__link:hover .portfolio__overlay,
.portfolio__link:focus .portfolio__overlay {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  opacity: 1;
}

.portfolio__text {
  margin: 0;
  padding: 63px 24px;
  letter-spacing: 0.03em;
  font-size: 18px;
  line-height: 1.56;
  text-align: left;
  color: #ffffff;
}

.card-set {
  padding: 20px 24px;
}

.card-set__title {
  padding: 0;
  margin: 0;
  border-radius: 0px 0px 4px 4px;
}

.card-set__text {
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  padding: 0;
  margin: 0;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  visibility: visible;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

/*******************Modal********************/
.modal {
  position: fixed;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #ffffff;
  padding: 40px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  opacity: 1;
}

@media screen and (min-width: 480px) {
  .modal {
    min-width: 450px;
    min-height: 609px;
  }
}

@media screen and (min-width: 768px) {
  .modal {
    min-width: 450px;
    min-height: 609px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    min-width: 528px;
    min-height: 581px;
  }
}

.button__close {
  position: absolute;
  min-width: 30px;
  min-height: 30px;
  margin-left: auto;
  margin-bottom: auto;
  top: 8px;
  right: 8px;
  padding: 0;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  color: #000000;
}

.button__close:hover .icon-close-black,
.button__close:focus .icon-close-black {
  fill: #2196f3;
}

.icon-close-black {
  width: 18px;
  height: 18px;
}

.modal__text {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 00.03em;
  color: #212121;
  margin-bottom: 12px;
}

@media screen and (max-width: 1199px) {
  .modal__text {
    line-height: 1.5;
  }
}

.modal__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
}

.modal__group input {
  display: block;
  height: 40px;
  margin: 0;
  padding: 0;
  padding-left: 42px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__group input:focus {
  border: 1px solid #2196f3;
}

.modal__group label {
  margin-bottom: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #757575;
  letter-spacing: 0.01em;
  font-size: 12px;
}

.modal__group textarea:focus {
  border: 1px solid #2196f3;
}

.modal__icon {
  position: absolute;
  display: inline-block;
  width: 18px;
  height: 18px;
  top: 72%;
  left: 15px;
  -webkit-transform: translateY(-72%);
          transform: translateY(-72%);
}

.form-name:focus ~ .modal__icon {
  fill: #2196f3;
}

.modal__textarea {
  resize: none;
  width: 100%;
  height: 120px;
  margin: 0;
  padding: 12px 16px;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.modal__textarea:focus {
  border: 1px solid #2196f3;
}

.modal__checkbox {
  cursor: pointer;
  margin-bottom: 30px;
}

.modal__checkbox:last-of-type:hover > .icon-check--state,
.modal__checkbox:last-of-type:focus-within > .icon-check--state {
  border: 1px solid #2196f3;
}

.checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
}

.label {
  display: block;
  height: 24px;
}

.modal__item {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-weight: 400;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #757575;
  cursor: pointer;
}

@media screen and (max-width: 1199px) {
  .modal__item {
    font-size: 12px;
    line-height: 1.17;
  }
}

.modal__link {
  color: #2196f3;
  text-decoration: underline;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.icon-check {
  width: 16px;
  height: 15px;
  fill: currentColor;
}

.icon-check--state {
  margin-right: 7px;
  border: 1px solid #212121;
  border-radius: 4px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check-box:checked + .icon-check--state {
  border: 2px solid transparent;
  background-color: #2196f3;
}

.submit {
  margin-top: 30px;
  min-width: 200px;
  min-height: 50px;
  padding: 10px 29px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition-property: background;
  transition-property: background;
}
/*# sourceMappingURL=main.css.map */