@import "./base/normalize";
@import "./utils/variables";
@import "./utils/common";
@import "./utils/placeholders";
@import "./utils/mixins";
@import "./components/logo";
@import "./components/header";
@import "./components/contacts";
@import "./components/hero";
@import "./components/buttons";
@import "./components/advantages";
@import "./components/features";
@import "./components/team";
@import "./components/clients";
@import "./components/footer";
@import "./components/portfolio";
@import "./components/modal";
