.social-list {
  @extend %flex-just;
}
.social-list__item {
  margin-right: 10px;
}
.social-list__link {
  @extend %flex-just;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: $icon-grey-color;
  background-color: rgba(255, 255, 255, 0.1);
  transition: color 250ms $timing-function,
    background-color 250ms $timing-function;

  &:hover,
  &:focus {
    color: $primary-white-color;
    background-color: $accent-color;
  }
}
.social-list__icon {
  @extend %icons;
  fill: currentColor;
}

.clients-sections {
  padding: 60px 0;
  @media screen and(min-width:1200px) {
    padding: 94px 0;
  }
}
.clients-sections__title {
  @media screen and(max-width:1199px) {
    font-size: 28px;
    line-height: 1.17;
    margin: 0 0 50px 0;
  }
  text-align: center;
  margin: 0 0 30px 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.clients-sections__item {
  width: 100%;
  height: 92px;
}

.clients-sections__list {
  @media screen and (min-width: 480px) {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
}
.clients-sections__item:not(:last-child) {
  @media screen and (max-width: 479px) {
    margin-bottom: 20px;
  }
}
.clients-sections__list > .clients-sections__item {
  @media screen and (min-width: 480px) {
    flex-basis: calc(100% / 2 - 30px);
    margin-top: 30px;
    margin-left: 30px;
  }
  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 3 - 30px);
    margin-top: 30px;
    margin-left: 30px;
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 6 - 30px);
    margin-top: 30px;
    margin-left: 30px;
  }
}
.clients-sections__link {
  @extend %flex-just;
  width: 100%;
  height: 100%;
  @include bordered($icon-grey-color);
  border-radius: 4px;
  fill: $icon-grey-color;
  transition: fill 250ms $timing-function, border 250ms $timing-function;

  &:hover,
  &:focus {
    @include bordered(#2196f3);
  }
}
.clients-sections__link:hover .clients-sections__icon,
.clients-sections__link:focus .clients-sections__icon {
  fill: #2196f3;
}

.clients-sections__icon {
  width: 106px;
  height: 60px;
  color: currentColor;
}
