.contacts__thumb {
  display: flex;
  flex-direction: column;
}
.list-contacts {
  @media screen and (max-width: 767px) {
    margin-bottom: 38px;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column-reverse;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
.list-contacts__link {
  @media screen and(min-width:768px) {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    padding: 0;
    display: flex;
    align-items: center;
    color: rgba(117, 117, 117, 1);
  }
  &:hover,
  &:focus {
    color: $accent-color;
  }
}
.list-contacts__link {
  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
    &:last-child {
      margin-bottom: 0;
    }
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}
.site-nav__link--current::after {
  @media screen and(min-width:768px) {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    display: block;
    width: 100%;
    height: 4px;
    background-color: #2196f3;
    border-radius: 2px;
  }
}
.site-nav__link--current {
  @media screen and(min-width:768px) {
    position: relative;
  }
}
.list-contacts__link--email {
  @media screen and(max-width:419px) {
    font-size: 6vw;
  }
  @media screen and(min-width:420px) and (max-width: 767px) {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: rgba(117, 117, 117, 1);
  }
  @media screen and(min-width:787px) {
    padding: 0;
    padding-top: 20px;
    margin-bottom: 10px;
  }
  @media screen and(min-width:1200px) {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
.list-contacts__link--tel {
  @media screen and(max-width:419px) {
    font-size: 8vw;
  }
  @media screen and(min-width:420px) and (max-width: 767px) {
    font-size: 34px;
    font-weight: 500;
    line-height: 1.18;
    letter-spacing: 0.02em;
    display: block;
    color: #757575;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  @media screen and(min-width:787px) {
    padding: 0;
    padding-bottom: 20px;
  }
  @media screen and(min-width:1200px) {
    padding-top: 32px;
    padding-bottom: 32px;
    margin-right: 30px;
  }
}
.smartphone {
  @media screen and(max-width:767px) {
    display: none;
  }
  @media screen and(min-width:768px) {
    width: 10px;
    height: 16px;
    fill: currentColor;
    margin-right: 10px;
  }
}
.envelope {
  @media screen and(max-width:767px) {
    display: none;
  }
  @media screen and(min-width:768px) {
    width: 16px;
    height: 12px;
    fill: currentColor;
    margin-right: 10px;
  }
}
.list-contacts__item:not(:last-child) {
  @media screen and(max-width:767px) {
    margin-bottom: 32px;
    color: $accent-color;
  }
}
.list-contacts__link--tel {
  @media screen and(max-width:767px) {
    color: $accent-color;
  }
}
.mobile-menu__social {
  display: flex;
  flex-wrap: wrap;
  padding-left: 5px;

  @media screen and(min-width:769px) {
    display: none;
  }
}

.mobile-menu__social-link {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
  padding: 10px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu__social-item {
  & + &::before {
    content: "";
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
}
.mobile-menu__social-link--ins {
  padding-right: 10px;
  padding-left: 0;
}
