.features-sections {
  padding-bottom: 94px;
}
.features-sections__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 50px;
}
.features-sections__list {
  display: flex;
}
.features-sections__box {
  position: relative;
}
.features-sections__box:not(:last-child) {
  margin-right: 30px;
}
.features-sections__text--about {
  position: absolute;
  @extend %flex-just;
  left: 0;
  bottom: 0;
  margin: 0;
  width: 100%;
  height: 70px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $primary-white-color;
  background-color: $bg-color-features-img;
}
