.page-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 30px;
  background-color: #fff;
  border-bottom: 1px solid #ececec;
  z-index: 2;
}

.page-header .container {
  @media screen and (min-width: 768px) {
    display: flex;
  }
}
.menu__wrapper {
  @media screen and (max-width: 767px) {
    justify-content: space-between;
  }
  @media screen and (min-width: 768px) {
    align-items: center;
  }
  display: flex;
}
.navigation {
  @media screen and (min-width: 768px) {
    margin-right: 76px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 314px;
  }
}
