.header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  @media screen and (max-width: 767px) {
    padding-top: 16px;
    padding-bottom: 16px;
    position: relative;
  }
  border-bottom: 1px solid rgba(236, 236, 236, 1);
}
.header > .container {
  display: -webkit-box;
}

.main-nav {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    margin-right: auto;
  }
}

.navigation {
  display: flex;
  align-items: center;
  @media screen and(max-width:767px) {
    justify-content: space-between;
    align-items: center;
  }
}

.menu-toggle {
  @media screen and (min-width: 768px) {
    display: none;
  }
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

.menu-toggle.icon-cross {
  display: none;
}
.menu-toggle.is-open.icon-cross {
  display: block;
}
.menu-toggle .is-open .icon-menu {
  display: none;
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
  @media (min-width: 768px) {
    display: none;
  }
}
.menu-container {
  @media (min-width: 768px) {
    display: none;
  }
  @media (min-width: 480px) {
    padding: 48px 40px;
  }

  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 32px;
  background-color: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
    0px 1px 3px rgba(0, 0, 0, 0.16);
  // pointer-events: none;
  z-index: 999;
  transform: translateX(100%);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-container.is-open {
  transform: translateX(0);
}
.menu-toggle:hover,
.menu-toggle:focus {
  fill: #2196f3;
}
.menu-toggle__button {
  position: absolute;
  right: 25px;
  top: 15px;
}
.menu-toggle__btn {
  position: absolute;
  right: 25px;
  align-items: center;
}
.mobile-menu__list {
  margin-bottom: 300px;
}
.mobile-menu__social-item {
  display: flex;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2196f3;
  @media screen and(min-width:480px) {
    padding: 0 10px;
    font-size: 18px;
  }
}
.mobile-menu__social-item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.mobile-menu__list .mobile-menu__link {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;

  @media (max-width: 767px) {
    .menu {
      display: none;
    }
  }
}
.icon-cross {
  left: 0;
  bottom: 0;
}
.mobile-menu__link {
  color: #000000;
  text-decoration: none;
  font-style: 400;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 2%;
}
.mobile-menu__link:hover,
.mobile-menu__link:focus,
.mobile-menu__link--current {
  color: $accent-color;
}

.mobile-menu__contacts {
  margin-bottom: 64px;
  text-align: left;
}
.mobile-menu__contacts {
  font-weight: 500;
  line-height: 1.18;
  color: #2196f3;
  letter-spacing: 0.02em;
  margin-bottom: 64px;
}
.mobile-menu__tel {
  @media screen and(min-width:320px) {
    font-size: 34px;
  }
  display: inline-block;
  text-decoration: none;
  font-weight: 500;
  line-height: 1.18;
  color: #2196f3;
  letter-spacing: 0.02em;
  margin-bottom: 32px;
}
.mobile-menu__mail {
  text-decoration: none;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #757575;
}
.mobile-menu__social {
  display: flex;
}
.mobile-menu__socia-link {
  color: #2196f3;
}
.mobile-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.site-nav {
  @media screen and (max-width: 767px) {
    display: none;
  }
  display: flex;
  align-items: center;

  &__link {
    display: block;
    position: relative;
    padding-top: 32px;
    padding-bottom: 32px;
    color: $title-text-color;
    font-size: 14px;
    line-height: 1.2;
    @extend %transition;
  }

  &__link:hover,
  &__link:focus,
  &__link--current {
    color: $accent-color;
  }
  &__link--current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 4px;
    display: block;
    background-color: $accent-color;
    border-radius: 2px;
  }
}
.site-nav__item:last-child {
  scroll-margin-left: 0px;
}
.site-nav__item:not(:last-child) {
  margin-right: 50px;
}
.list-contacts {
  @media screen and(max-width:1199px) {
    display: inline-block;
    font-size: 12px;
    line-height: 1.17;
  }
}
