.header {
  @media screen and (max-width: 768px) {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  border-bottom: 1px solid rgba(236, 236, 236, 1);
}
.main-nav {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}
.navigation {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}

.site-nav__item:last-child {
  scroll-margin-left: 0px;
}
.site-nav__item:not(:last-child) {
  margin-right: 50px;
}
.site-nav {
  @media screen and (max-width: 767px) {
    display: none;
  }
  display: flex;
  align-items: center;

  &__link {
    display: block;
    position: relative;
    padding-top: 32px;
    padding-bottom: 32px;
    color: $title-text-color;
    font-size: 14px;
    line-height: 1.2;
    @extend %transition;
  }
  &__link:hover,
  &__link:focus,
  &__link--current {
    color: $accent-color;
  }
  &__link--current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 4px;
    display: block;
    background-color: $accent-color;
    border-radius: 2px;
  }
}
