.header {
  @media screen and (max-width: 768px) {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  border-bottom: 1px solid rgba(236, 236, 236, 1);
}
.main-nav {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}
.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 40px;
}

.navigation__menu-button {
  @media screen and (min-width: 768px) {
    display: none;
  }
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}
.navigation__menu-button.icon-cross {
  display: none;
}
.navigation__menu-button.is-open.icon-cross {
  display: block;
}
.navigation__menu-button .is-open .icon-menu {
  display: none;
}
.navigation__menu-button {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}
.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 32px;
  background-color: blue;
  pointer-events: none;
  z-index: 999;
  transform: translateX(100%);
  transition: 250 ms ease-in-out;
}
.menu-container .is-open {
  transform: translateX(0);
}
.menu-container .navigation__menu-button {
  position: absolute;
}

.site-nav__item:last-child {
  scroll-margin-left: 0px;
}
.site-nav__item:not(:last-child) {
  margin-right: 50px;
}
.site-nav {
  @media screen and (max-width: 767px) {
    display: none;
  }
  display: flex;
  align-items: center;

  &__link {
    display: block;
    position: relative;
    padding-top: 32px;
    padding-bottom: 32px;
    color: $title-text-color;
    font-size: 14px;
    line-height: 1.2;
    @extend %transition;
  }
  &__link:hover,
  &__link:focus,
  &__link--current {
    color: $accent-color;
  }
  &__link--current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 4px;
    display: block;
    background-color: $accent-color;
    border-radius: 2px;
  }
}
