.button__menu-open,
.button__menu-close {
  min-height: 40px;
  min-width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  color: #000;
  outline: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.button__menu-open:hover,
.button__menu-open:focus {
  color: #2196f3;
}
.button__menu-close {
  border-radius: 50%;
  position: absolute;
  top: 10px;
  right: 15px;
}
.button__menu-close:hover,
.button__menu-close:focus {
  color: #2196f3;
}

.menu-container {
  @media screen and (max-width: 767px) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 48px 40px;
    background-color: #fff;
    z-index: 999;
    transform: translateX(105%);
    transition: transform 250ms ease-in-out;
    transition: transform 250ms ease-in-out;
  }
  @media screen and (max-width: 767px) {
    align-items: center;
  }
}
.menu-container.is-open {
  transform: translateX(0%);
}

.icon-menu {
  width: 40px;
  height: 40px;
  fill: currentColor;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: $accent-color;
  }
}
.icon-menu__close {
  width: 40px;
  height: 40px;
  fill: currentColor;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;

  &:hover,
  &:focus {
    fill: $accent-color;
  }
}
.menu-container .menu__wrapper {
  @media screen and (max-width: 767px) {
    flex-basis: 100%;
    height: 100%;
    flex-direction: column;
  }
}
.site-nav {
  @media screen and(min-width:768px) {
    display: flex;
  }
}
.site-nav__link {
  font-size: 40px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  display: block;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-decoration: none;

  @media screen and(min-width:768px) {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    padding: 32px 0;
    text-decoration: none;
    font-family: Roboto, sans-serif;
  }
}
.site-nav__link:hover,
.site-nav__link:focus {
  color: $accent-color;
}
.site-nav__link--current {
  color: $accent-color;
}
.site-nav__item:not(:last-child) {
  @media screen and(max-width:767px) {
    margin-bottom: 32px;
  }
  @media screen and(min-width:768px) {
    margin-right: 50px;
  }
}
.site-nav__link--current {
  color: $accent-color;
}
.contacts__thumb {
  display: flex;
  text-decoration: columb;
}
