.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
.menu-toggle:hover,
.menu-toggle:focus {
  //   background-color: rgba(0, 0, 0, 0.1);
  fill: #2196f3;
}
.menu-toggle.icon-cross {
  display: none;
}
.menu-toggle.is-open.icon-cross {
  display: block;
}
.menu-toggle .is-open .icon-menu {
  display: none;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 20px 40px;
  background-color: #ffffff;
  //   box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
  //     0px 1px 3px rgba(0, 0, 0, 0.16);
  z-index: 999;
  transform: translateX(100%);
  text-align: center;
  transition: transform 250ms ease-in-out;

  @media screen and (min-width: 480px) {
    padding: 48px 40px;
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #fff;
}
.menu-toggle__button {
  position: absolute;
  right: 25px;
  top: 15px;
}
.menu-toggle__btn {
  // position: absolute;
  right: 0;
  align-items: center;
}
.mobile-menu__list {
  @media screen and(min-width:480px) {
    margin-bottom: 300px;
  }
}
.mobile-menu__social-item {
  display: flex;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2196f3;
  @media screen and(min-width:480px) {
    padding: 0 10px;
    font-size: 18px;
  }
}
.mobile-menu__social-item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.mobile-menu__list .mobile-menu__link {
  list-style: none;

  @media (max-width: 767px) {
    .menu {
      display: none;
    }
  }
}
.icon-cross {
  left: 0;
  bottom: 0;
  display: flex;
  padding: 0;
  margin: 0;
}

.mobile-menu__link {
  display: block;
  color: #000000;
  text-decoration: none;
  font-style: 400;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 2%;
}
.mobile-menu__link:hover,
.mobile-menu__link:focus,
.mobile-menu__link--current {
  color: $accent-color;
}

// .mobile-menu__contacts {
//   margin-bottom: 64px;
//   text-align: left;
// }
.mobile-info {
  @media (min-width: 768px) {
    display: none;
  }
}
.mobile-menu__contacts {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.18;
  color: #2196f3;
  letter-spacing: 0.02em;
  margin-bottom: 64px;
}
.mobile-menu__tel {
  @media screen and(min-width:320px) {
    font-size: 34px;
  }
  display: inline-block;
  text-decoration: none;
  font-weight: 500;
  line-height: 1.18;
  color: #2196f3;
  letter-spacing: 0.02em;
  margin-bottom: 32px;
}
.mobile-menu__mail {
  text-decoration: none;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #757575;
}
.mobile-menu__social {
  display: flex;
}
.mobile-menu__socia-link {
  color: #2196f3;
}

.mobile-menu__item {
  font-weight: 500;
  font-size: 30px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #212121;

  &:not(:last-child) {
    margin-bottom: 32px;

    &:hover,
    &:focus {
      color: $accent-color;
    }

    @media screen and (min-width: 480px) {
      font-size: 40px;
    }
  }
}
