.product {
  padding: 94px 0;
}
.product__type {
  @extend %flex-just;
  margin-bottom: 50px;
}

.product__type .product__item:not(:last-child) {
  margin-right: 8px;
}
.portfolio__btn {
  @extend %btn;
  padding: 6px 22px;
  border-radius: 4px;
  border: 0;
  background-color: #f5f4fa;
  color: $primary-black-color;

  &:focus,
  &:hover,
  &--button {
    background-color: $accent-color;
    color: $primary-white-color;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.portfolio {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.portfolio > .portfolio__list {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}
.portfolio__link {
  display: block;

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}
.portfolio__list {
  @include bordered(rgba(238, 238, 238, 1));
}

.portfolio__card {
  position: relative;
  overflow: hidden;
  height: 294px;
}

.portfolio__overlay {
  position: absolute;
  @extend %portfolio;
  bottom: 0;
  width: 100%;
  height: 294px;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
  transform: translateY(100%);
  overflow-y: auto;
}
.portfolio__link:hover .portfolio__overlay,
.portfolio__link:focus .portfolio__overlay {
  transform: translateY(0%);
  opacity: 1;
}
.portfolio__text {
  margin: 0;
  padding: 63px 24px;
  letter-spacing: 0.03em;
  font-size: 18px;
  line-height: 1.56;
  text-align: left;
  color: $primary-white-color;
}

.card-set {
  padding: 20px 24px;
}
.card-set__title {
  @extend %card-set;
  padding: 0;
  margin: 0;
  border-radius: 0px 0px 4px 4px;
}
.card-set__text {
  color: $primary-text-color;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  padding: 0;
  margin: 0;
}
