h1,
h2,
h3,
h4,
h5,
h6 {
  color: var $title-text-color;
  margin: 0;
}
h2 {
  color: $title-text-color;
}
body {
  color: $primary-text-color;
  background: $primary-white-color;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.button {
  font-family: inherit;
  cursor: pointer;
}
.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  align-items: baseline;
  text-align: center;

  @media screen and (min-width: 480px) {
    width: 480px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}
input,
textarea {
  outline: 0;
  @extend %transition;
}
