$primary-text-color: #757575;
$title-text-color: #212121;
$primary-white-color: #ffffff;
$primary-black-color: #000000;
$accent-color: #2196f3;
$secondary-bg-color: #f5f4fa;
$gray-bg-color: #2f303a;
$footer-text-color: rgba(255, 255, 255, 0.6);
$icon-grey-color: #afb1b8;
$bg-color-features-img: rgba(47, 48, 58, 0.8);
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
